body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: rgb(198, 188, 188);
}

.container {
    background: linear-gradient(to right, var(--foreground), #1e1c1a);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

.radio-group {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}